{{define "content"}}
<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>Hello World</h1>
      <p>Welcome to our new web project.</p>
	<p><img src="https://cdn-images-1.medium.com/max/800/1*rQuaLXlDy1-gqEPKBshcwA.gif"></img></p>
    </div>
  </div>
</div>
{{end}}
